<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de mi</title>
</head><h1>Acerca de mi</h1>
<body style="background-color: dimgray;">
    <h3>Mi nombre es jeremy y desde hace un par de meses se genero en mi un interes por entrar al mundo de la programacion</h3>
    <h3>y la razon de ello es que descubri que el mundo de la programacion te puede brindar varias oportunidades como</h3>
    <h3>mejores ofertas laborales,mejores salarios,capacidad de emprender o trabajar como freelancer,</h3>
    <h3>poder desarrollar tus popios proyectos pero sobre todo el podeer crear cualquier programa que te imagines,</h3>
    <h3>el poder crear programas que cumplan con lo que tu deses y hacerlos funcionar como tu quieres es algo muy interesante</h3>
    <h3>para mi,ya que te permite abrir tu imaginacion y pensar en todas las posibilidades que existen es algo increible y</h3>
    <h3>por esa razon decidi hacer el curso de python ya que segun lo que investige es uno de los lenguages de programacion mas</h3>
    <h3>demandados y con una sintaxis sencilla de entender, mi objetivo es poder seguir apendiendo y ejercerme como programador</h3></p>
    <h3>a medida que vaya aprendiendo nuevas tecnologias.</h3></p>
</body></h3>
</html>